.footer {
  display: grid;
  grid-template: repeat(1, 0.01fr) / repeat(1, 1fr);
  grid-template-areas: "footer__firma";
  grid-area: footer;
  justify-content: center;
}
.footer__firma {
  grid-area: footer__firma;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}
